.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(75, 75, 75);
    border-radius: .5rem;
    width: 20%;
    padding: 1.3rem 0;
}
.signup label {
    margin: .5rem 0;
}
.signup input {
    height: 1.3rem;
}