.xat-friend button {
    height: 2.5rem;
    width: 13rem;
    background-color: rgb(26,26,26);
    color: #4fb8fe;
    border: 1px solid #4fb8fe;
    margin: .2rem 0;
    border-radius: .3rem;
    cursor: pointer;
    font-weight: 700;
}
.xat-friend button:hover {
    color: #8ad0ff;
    background-color: rgb(70,70,70);
}
.xat-friend ul {
    list-style: none;
    margin: .5rem 0 1rem 0;
    padding: 0;
}

@media (max-width: 375px){
    .xat-friend  div, .xat-friend {
        height: 100px;
        margin-bottom: 1rem;
    }
}