.edit-doubt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(26,26,26);
    border-radius: .5rem;
    width: 30%;
    padding: 1.3rem 0;
    margin: 1rem 0 0 0;
}
.edit-doubt-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(26,26,26);
    border-radius: .5rem;
    width: 20%;
    padding: 1.3rem 0;
}
.edit-doubt-form label {
    margin: .5rem 0;
}
.edit-doubt-form input {
    height: 1.5rem;
    border-radius: .3rem;
    border: 1px solid #4fb8fe
}
.edit-doubt-form button {
    background-color: rgb(26,26,26);
    color: #4fb8fe;
    border: 1px solid #4fb8fe;
    margin: 1rem 0 0 0;
    font-weight: 700;
    width: 8rem;
    height: 1.8rem;
    border-radius: .3rem;
    cursor: pointer;
}
.edit-doubt-form button:hover {
    background-color: rgb(70,70,70);
}