.doubt-list {
    height: 400px;
}
.doubt-list ul{
    list-style: none;
}
.doubt-list button {
    height: 2.5rem;
    width: 13rem;
    background-color: rgb(26,26,26);
    color: #4fb8fe;
    border: 1px solid #4fb8fe;
    margin: .2rem 0;
    border-radius: .3rem;
    cursor: pointer;
    font-weight: 700;
}
.doubt-list button:hover {
    color: #8ad0ff;
    background-color: rgb(70,70,70);
}