.perfil {
    display: flex;
    flex-direction: column;
    align-items: center 
}
.perfil a, .perfil-body a {
    color: #4fb8fe;
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin: .5rem 0 0 0;
}
.perfil a:hover, .perfil-body a {
    color: #8ad0ff;
}
.perfil input {
    height: 1.5rem;
    border-radius: .3rem;
    border: 1px solid #4fb8fe
}
.perfil-head > img {
    width: 200px;
    border-radius: 50%;
}
.perfil-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.3rem auto;

}
.perfil-links a {
    display: block
}
.perfil-body {
    display: flex;
    flex-direction: column;

}
.search-friends img {
    width: 30px;
    border-radius: 50%;
    margin-right: 1rem;
}
.search-friends {
    margin: 1rem 0;
}
.search-friends a {
    margin: .3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .3rem 0;
    border-bottom: 1px solid rgb(174, 174, 174);
}
.search-friends a:hover {
    background-color: rgb(133, 133, 133);
}

@media (max-width: 375px) {
    .perfil-head > img {
        margin: 1rem 1rem;
    }
}