.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(26,26,26);
    border-radius: .5rem;
    width: 20%;
    padding: 1.3rem 0;
}
.login label {
    margin: .5rem 0;
}
.login input {
    height: 1.7rem;
    border-radius: .3rem;
    border: 1px solid #4fb8fe;
    margin: .6rem 0;
}
.login button {
    background-color: rgb(26,26,26);
    color: #4fb8fe;
    border: 1px solid #4fb8fe;
    margin: 1rem 0 0 0;
    font-weight: 700;
    width: 8rem;
    height: 1.8rem;
    border-radius: .3rem;
    cursor: pointer;
}
.login button:hover {
    background-color: rgb(70,70,70);
}
.login a {
    color: #4fb8fe;
    text-decoration: none;
    font-weight: 700;
}
.login a:hover {
    color: #8ad0ff;
}
/* --- MEDIA QUERY FOR IPHONE 5 */
@media (max-width: 320px){

}

/* --- MEDIA QUERY FOR IPHONE 6 */
@media (max-width: 375px){
    .login form {
        width: 70%;
    }
}

@media (max-width: 1024px){
    .login form {
        width: 50%
    }
}