.card-friend img {
    width: 50px;
    margin-bottom: .4rem;
    border-radius: 50%;
    margin-top: .4rem;
}
.card-friend p {
    margin: 0 .5rem;
    font-size: .9rem;
}
.card-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem .2rem;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    border-radius: .3rem;
    padding: 0 0 .5rem 0;
    width: 90px;
    height: 100px;
}
.friends-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.friends-list a:hover {
    transform: scale(1.03);
}
.friends h4{
    text-align: left;
    margin: 0 0 .5rem 0
}
.friends > p {
    text-align: left;
    margin: 0 0 1rem 0;
    font-size: .9rem;
}
.friends {
    margin: 1rem 0 0 0;
    border-top: 1px solid white;
    padding-top: 1rem;
}