.profile-info img {
    border-radius: 50%;
    width: 6rem;
}
.profile-info {
    text-align: left;
    margin: 0 0 1.5rem 0;
}
.profile-info span {
    color: black;
}
.profile-info a {
    text-align: center;
    background-color: rgb(26,26,26);
    color:#4fb8fe;
    border: 1px solid #4fb8fe;
    height: 1rem;
    padding: .5rem 0;
    border-radius: .3rem;
}
.profile-info a:hover {
    background-color: rgb(70,70,70);
    color: #8ad0ff
}