.App {
  text-align: center;
  background-color: rgb(126, 126, 126);
  color:white
}
.errorMessage {
  color: rgb(243, 235, 11);
  font-size: .9rem;
}

/* MEDIA QUERY FOR IPHONE 5 */
@media (max-width: 320px){
  .App {
    width: 100%;
  }
}
