.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 375px){
    .message {
        flex-direction: column;
        justify-content: center;
    }
}